<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.view.ext"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />
    
    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.activity.registerActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.manageLogin.successActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.activity.FunctionActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.listview.ListViewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.listview.showActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.activity.MycardActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.activity.PersonalizedActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.activity.ChangeDataActivity"
            android:label="@string/app_name" >
        </activity>
       <activity
            android:name="com.activity.CreateQrActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.activity.NfcChangeActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- 隐藏键盘 -->
        <!-- 全屏 -->
        <activity
            android:name="com.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
    </application>

</manifest>